<form action="/books/update/<%= book.code %>" method="POST" class="form-signin">
    <h2>You're editing a book...</h2>

    <input value="<%= book.code %>" name="code" type="text" class="form-control"/>
    <input value="<%= book.title %>" name="title" type="text" class="form-control"/>
    <input value="<%= book.format %>" name="format" type="text" class="form-control"/>
    <input value="<%= book.filename %>" name="filename" type="text" class="form-control"/>
    <input type="submit" value="Commit Change" class="btn btn-lg btn-primary btn-block"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>
