<form action="/songs/update/<%= song.id %>" method="POST" class="form-signin">
    <h3>You're editing a song...</h3>

    <input value="<%= song.id %>" name="id" type="text" class="form-control"/>
    <input value="<%= song.bookcode %>" name="bookcode" type="text" class="form-control"/>
    <input value="<%= song.title %>" name="title" type="text" class="form-control"/>
    <input value="<%= song.page %>" name="page" type="text" class="form-control"/>
    <input type="submit" value="Commit Change" class="btn btn-lg btn-primary btn-block"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>
